.b-slides {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.b-slides__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.b-slides__layer {
    width: 50%;
    cursor: pointer;
    height: 100%;
    display: inline-block;
}

.b-slides_fullscreen_active {
    height: 94%;
}

.b-slides__item {
    height: 0;
}

.b-slides__item_active_yes {
    height: 100%;
}