.b-controls
{
    text-align: center;
    width: 180px;
    margin: 0 auto;
}


.b-controls__inner:hover {
    box-shadow: 0px 1px 5px grey;
}

.b-controls__inner:first-child {
    margin-left: 0;
}

.b-controls__inner {
    margin-left: 2px;
    padding: 10px;
    width: 30px;
    display: inline-block;
    background: linear-gradient(#fff, #eee);
    background: -webkit-linear-gradient(#fff, #eee);
    color: #333;
    border-radius: 30px;
    box-shadow: 0 1px 0 rgba(0,0,0,.07);
    border: 1px solid darkgray;
    cursor: pointer;
}

.b-controls__item {
    width: 22px;
    height: 18px;
    margin: 0 auto;
}

.b-controls__previous-icon
{
    background: url(b-controls__iconglyph_prev.png) no-repeat
}

.b-controls__next-icon
{
    background: url(b-controls__iconglyph_next.png) no-repeat;
}

.b-controls__previous_disabled_yes:hover {
    box-shadow: none;
}

.b-controls__previous_disabled_yes {
    opacity: 0.5;
    cursor: default;
}

.b-controls__next_disabled_yes:hover {
    box-shadow: none;
}

.b-controls__next_disabled_yes {
    opacity: 0.5;
    cursor: default;
}